# Wally Packages
types/**
tests/**

# Project place file
/Merge-Sim-Prototype.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# workspace files
sourcemap.json
analytics/auth.txt
analytics/data.json
analytics/output/*.json
analytics/output/kpi/*.json


# python env
.envp