
.headline1 {
	font-family: 'Highway';
	font-size: 48px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-overflow: wrap;
}

.headline2 {
	font-family: 'Highway';
	font-size: 32px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-overflow: wrap;
}

.headline3 {
	font-family: 'Highway';
	font-size: 28px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-overflow: clip;
}

.headline4 {
	font-family: 'Highway';
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-overflow: clip;
}

.headline5 {
	font-family: 'Highway';
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-overflow: clip;
}

.headline6 {
	font-family: 'Highway';
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-overflow: clip;
}

.subtitle1 {
	font-family: 'Highway';
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-overflow: clip;
}

.subtitle2 {
	font-family: 'Highway';
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-overflow: clip;
}

.button {
	font-family: 'Gotham';
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-overflow: clip;
}

.body1 {
	font-family: 'Gotham';
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-overflow: clip;
}

.body2 {
	font-family: 'Gotham';
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-overflow: clip;
}

.caption {
	font-family: 'Ubuntu';
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-overflow: clip;
}

.overline {
	font-family: 'Ubuntu';
	font-size: 8px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-overflow: clip;
}

.spacing {
	border-width: 2px;
	padding: 6px;
	border-radius: 4px;
}

.primary {
	background-color: rgb(43, 123, 255);
}

.secondary {
	background-color: rgb(255, 211, 152);
}

.tertiary {
	background-color: #00cbfc;
}

.background {
	background-color:rgb(197, 220, 255);
}

.error {
	background-color: #ff0000;
}

.warn {
	background-color: #ff930d;
}

.gain {
	background-color: #29c000;
}

.loss {
	background-color: #f30025;
}
